header{
    
    display: flex;
    align-items: center;
    margin: 10px;
}

.contenedor_logo{
    
    width: 100%;
    text-align: center;
    margin: 10px;
   
}

.nav_logo {
    width: 40%;
align-content: center;

}

body{
    
    margin:0px;
    padding:0px;

}
.contenedor_banner{
    
    margin:12px;
    text-align: center;
}
.contenedor_banner img{
    
    width: 100%;

}
h1{
    font-size: 35px;
}
.primero{
    font-size: 18.2px;
}
.segundo{
    font-size: 15px;
}
.contenedor_button{
    border-radius: 75px;
    padding: 25px 60px;
    
}
/* header {
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

input {
    flex-grow: 2;
}*/
